.calculatorBody {
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  height: 600px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #112D4E;
  display: flex;
  flex-direction: column;
}